In [1]:
import pandas as pd
import numpy as np
import gc
origin_train = pd.read_csv('./data/train.csv')
origin_sup = pd.read_csv('./data/supplemental_train.csv')

- missing value in `VWAP`,`Target` at some timestamp.
- missing timestamp for some assets.

### check timestamp range

In [2]:
#show time range
def show_time(df):
    time_range=[]
    for i in range(14):
        range_digit=df.loc[df['Asset_ID']==i,'timestamp'].agg(['min', 'max'])
        range_digit.name = f'Asset_ID_{i}'
        time_range.append(pd.DataFrame([range_digit]))
    tt=pd.concat(time_range)
    tt['min_date'] = pd.to_datetime(tt['min'],unit="s",infer_datetime_format=True)
    tt['max_date'] = pd.to_datetime(tt['max'],unit="s",infer_datetime_format=True)
    return tt
show_time(origin_train)

                    min         max            min_date   max_date
Asset_ID_0   1514764860  1632182400 2018-01-01 00:01:00 2021-09-21
Asset_ID_1   1514764860  1632182400 2018-01-01 00:01:00 2021-09-21
Asset_ID_2   1514764860  1632182400 2018-01-01 00:01:00 2021-09-21
Asset_ID_3   1523956260  1632182400 2018-04-17 09:11:00 2021-09-21
Asset_ID_4   1555079640  1632182400 2019-04-12 14:34:00 2021-09-21
Asset_ID_5   1514764860  1632182400 2018-01-01 00:01:00 2021-09-21
Asset_ID_6   1514764860  1632182400 2018-01-01 00:01:00 2021-09-21
Asset_ID_7   1514764860  1632182400 2018-01-01 00:01:00 2021-09-21
Asset_ID_8   1525853220  1632182400 2018-05-09 08:07:00 2021-09-21
Asset_ID_9   1514764860  1632182400 2018-01-01 00:01:00 2021-09-21
Asset_ID_10  1525965660  1632182400 2018-05-10 15:21:00 2021-09-21
Asset_ID_11  1514764860  1632182400 2018-01-01 00:01:00 2021-09-21
Asset_ID_12  1518825180  1632182400 2018-02-16 23:53:00 2021-09-21
Asset_ID_13  1517953020  1632182400 2018-02-06 21:37:00 2021-09-21

In [3]:
show_time(origin_sup)

                    min         max            min_date   max_date
Asset_ID_0   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_1   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_2   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_3   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_4   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_5   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_6   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_7   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_8   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_9   1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_10  1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_11  1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_12  1632182460  1642982400 2021-09-21 00:01:00 2022-01-24
Asset_ID_13  1632182460  1642982400 2021-09-21 00:01:00 2022-01-24

### merge two sets

In [4]:
train = pd.concat([origin_train,origin_sup])
del origin_train, origin_sup
gc.collect()
print('data loaded')
#show time range
time_range=[]
for i in range(14):
    range_digit=train.loc[train['Asset_ID']==i,'timestamp'].agg(['min', 'max'])
    range_digit.name = f'Asset_ID_{i}'
    time_range.append(pd.DataFrame([range_digit]))
tt=pd.concat(time_range)
tt['min_date'] = pd.to_datetime(tt['min'],unit="s",infer_datetime_format=True)
tt['max_date'] = pd.to_datetime(tt['max'],unit="s",infer_datetime_format=True)
tt

data loaded

                    min         max            min_date   max_date
Asset_ID_0   1514764860  1642982400 2018-01-01 00:01:00 2022-01-24
Asset_ID_1   1514764860  1642982400 2018-01-01 00:01:00 2022-01-24
Asset_ID_2   1514764860  1642982400 2018-01-01 00:01:00 2022-01-24
Asset_ID_3   1523956260  1642982400 2018-04-17 09:11:00 2022-01-24
Asset_ID_4   1555079640  1642982400 2019-04-12 14:34:00 2022-01-24
Asset_ID_5   1514764860  1642982400 2018-01-01 00:01:00 2022-01-24
Asset_ID_6   1514764860  1642982400 2018-01-01 00:01:00 2022-01-24
Asset_ID_7   1514764860  1642982400 2018-01-01 00:01:00 2022-01-24
Asset_ID_8   1525853220  1642982400 2018-05-09 08:07:00 2022-01-24
Asset_ID_9   1514764860  1642982400 2018-01-01 00:01:00 2022-01-24
Asset_ID_10  1525965660  1642982400 2018-05-10 15:21:00 2022-01-24
Asset_ID_11  1514764860  1642982400 2018-01-01 00:01:00 2022-01-24
Asset_ID_12  1518825180  1642982400 2018-02-16 23:53:00 2022-01-24
Asset_ID_13  1517953020  1642982400 2018-02-06 21:37:00 2022-01-24

### add normalized weight

In [5]:
train = train.set_index("timestamp").sort_index()
#add normalized weight
asset_detail = pd.read_csv('./data/asset_details.csv')
weight_dict=dict(zip(asset_detail.Asset_ID, asset_detail.Weight/asset_detail.Weight.sum()))
train['Weight'] = train['Asset_ID'].map(weight_dict)
train.set_index('Asset_ID',append=True, inplace=True)
train.head(14)

                     Count          Open        High         Low  \
timestamp  Asset_ID
1514764860 2          40.0   2376.580000   2399.5000   2357.1400
           0           5.0      8.530000      8.5300      8.5300
           1         229.0  13835.194000  14013.8000  13666.1100
           5          32.0      7.659600      7.6596      7.6567
           7           5.0     25.920000     25.9200     25.8740
           6         173.0    738.302500    746.0000    732.5100
           9         167.0    225.330000    227.7800    222.9800
           11          7.0    329.090000    329.8800    329.0900
1514764920 2          53.0   2374.553333   2400.9000   2354.2000
           0           7.0      8.530000      8.5300      8.5145
           1         235.0  13835.036000  14052.3000  13680.0000
           5          10.0      7.656800      7.6569      7.6567
           7           1.0     25.897000     25.8970     25.8970
           6         192.0    738.507500    745.1400    732.4900

                            Close       Volume          VWAP    Target  \
timestamp  Asset_ID
1514764860 2          2374.590000    19.233005   2373.116392 -0.004218
           0             8.530000    78.380000      8.530000 -0.014399
           1         13850.176000    31.550062  13827.062093 -0.014643
           5             7.657600  6626.713370      7.657713 -0.013922
           7            25.877000   121.087310     25.891363 -0.008264
           6           738.507500   335.987856    738.839291 -0.004809
           9           225.206667   411.896642    225.197944 -0.009791
           11          329.460000     6.635710    329.454118       NaN
1514764920 2          2372.286667    24.050259   2371.434498 -0.004079
           0             8.514500    71.390000      8.520215 -0.015875
           1         13828.102000    31.046432  13840.362591 -0.015037
           5             7.656700  3277.475494      7.656749 -0.014534
           7            25.897000     1.468019     25.897000 -0.029902
           6           738.260000   232.793141    738.268967 -0.004441

                       Weight
timestamp  Asset_ID
1514764860 2         0.058657
           0         0.105286
           1         0.165850
           5         0.033911
           7         0.050867
           6         0.144188
           9         0.058657
           11        0.039370
1514764920 2         0.058657
           0         0.105286
           1         0.165850
           5         0.033911
           7         0.050867
           6         0.144188

### fill-na (keep target nan)

In [6]:
##keep original index and Target
real_index_target = train.Target
real_index_target.iloc[:5]

timestamp   Asset_ID
1514764860  2          -0.004218
            0          -0.014399
            1          -0.014643
            5          -0.013922
            7          -0.008264
Name: Target, dtype: float64

In [7]:
#################### missing timestamp fillin and keep nan Target
train.reset_index('Asset_ID',inplace = True)
ind = train.index.unique()
def reindex(df):
    cols = ['Count', 'Open', 'High', 'Low', 'Close', 'Volume', 'VWAP', 'Weight']
    df = df.reindex(range(ind[0],ind[-1]+60,60),method='nearest')
    df[cols] = df[cols].fillna(method="ffill").fillna(method="bfill")
    return df
#all aassets has same timestamps with missing fillin
train = train.groupby('Asset_ID').apply(reindex).reset_index(0, drop=True).sort_index()
train.set_index('Asset_ID',append=True, inplace=True)
train.head(14)

                     Count          Open          High           Low  \
timestamp  Asset_ID
1514764860 0           5.0      8.530000      8.530000      8.530000
           13          8.0      0.036989      0.036989      0.036590
           3          16.0      0.260000      0.260990      0.260000
           4          10.0      0.002775      0.002775      0.002773
           1         229.0  13835.194000  14013.800000  13666.110000
           5          32.0      7.659600      7.659600      7.656700
           12          4.0      0.410000      0.410000      0.360000
           7           5.0     25.920000     25.920000     25.874000
           8          20.0      2.265200      2.265300      2.263000
           11          7.0    329.090000    329.880000    329.090000
           9         167.0    225.330000    227.780000    222.980000
           10          1.0   1182.000000   1182.000000   1182.000000
           6         173.0    738.302500    746.000000    732.510000
           2          40.0   2376.580000   2399.500000   2357.140000

                            Close         Volume          VWAP    Target  \
timestamp  Asset_ID
1514764860 0             8.530000      78.380000      8.530000 -0.014399
           13            0.036750   83459.107748      0.036604 -0.016212
           3             0.260000   32230.832200      0.260200 -0.004612
           4             0.002775  192109.000000      0.002775  0.006126
           1         13850.176000      31.550062  13827.062093 -0.014643
           5             7.657600    6626.713370      7.657713 -0.013922
           12            0.360000    3779.362927      0.405237       NaN
           7            25.877000     121.087310     25.891363 -0.008264
           8             2.263000    1095.236100      2.263346  0.001105
           11          329.460000       6.635710    329.454118       NaN
           9           225.206667     411.896642    225.197944 -0.009791
           10         1182.000000       0.045492   1182.000000       NaN
           6           738.507500     335.987856    738.839291 -0.004809
           2          2374.590000      19.233005   2373.116392 -0.004218

                       Weight
timestamp  Asset_ID
1514764860 0         0.105286
           13        0.043830
           3         0.107797
           4         0.086971
           1         0.165850
           5         0.033911
           12        0.050867
           7         0.050867
           8         0.026874
           11        0.039370
           9         0.058657
           10        0.026874
           6         0.144188
           2         0.058657

In [8]:
##mark fillna rows
train['is_real'] = train.index.isin(real_index_target.index)*1
train.head(14)

                     Count          Open          High           Low  \
timestamp  Asset_ID
1514764860 0           5.0      8.530000      8.530000      8.530000
           13          8.0      0.036989      0.036989      0.036590
           3          16.0      0.260000      0.260990      0.260000
           4          10.0      0.002775      0.002775      0.002773
           1         229.0  13835.194000  14013.800000  13666.110000
           5          32.0      7.659600      7.659600      7.656700
           12          4.0      0.410000      0.410000      0.360000
           7           5.0     25.920000     25.920000     25.874000
           8          20.0      2.265200      2.265300      2.263000
           11          7.0    329.090000    329.880000    329.090000
           9         167.0    225.330000    227.780000    222.980000
           10          1.0   1182.000000   1182.000000   1182.000000
           6         173.0    738.302500    746.000000    732.510000
           2          40.0   2376.580000   2399.500000   2357.140000

                            Close         Volume          VWAP    Target  \
timestamp  Asset_ID
1514764860 0             8.530000      78.380000      8.530000 -0.014399
           13            0.036750   83459.107748      0.036604 -0.016212
           3             0.260000   32230.832200      0.260200 -0.004612
           4             0.002775  192109.000000      0.002775  0.006126
           1         13850.176000      31.550062  13827.062093 -0.014643
           5             7.657600    6626.713370      7.657713 -0.013922
           12            0.360000    3779.362927      0.405237       NaN
           7            25.877000     121.087310     25.891363 -0.008264
           8             2.263000    1095.236100      2.263346  0.001105
           11          329.460000       6.635710    329.454118       NaN
           9           225.206667     411.896642    225.197944 -0.009791
           10         1182.000000       0.045492   1182.000000       NaN
           6           738.507500     335.987856    738.839291 -0.004809
           2          2374.590000      19.233005   2373.116392 -0.004218

                       Weight  is_real
timestamp  Asset_ID
1514764860 0         0.105286        1
           13        0.043830        0
           3         0.107797        0
           4         0.086971        0
           1         0.165850        1
           5         0.033911        1
           12        0.050867        0
           7         0.050867        1
           8         0.026874        0
           11        0.039370        1
           9         0.058657        1
           10        0.026874        0
           6         0.144188        1
           2         0.058657        1

### lr_15,mkt_lr_15,crypto_index

In [9]:
#######################################add lr_15,mkt_lr_15,crypto_index
def log_return(series, periods=5):
    return np.log(series).diff(periods)

lr_15 = train.groupby('Asset_ID').apply( 
            lambda x: log_return(x[['Close']],15) )
train['lr_15'] = lr_15['Close']#same order:[timestamp, asset_id]

In [12]:
del lr_15
gc.collect()
print('lr_15 added')

mkt_lr_15 = train.groupby('timestamp').apply( 
    lambda x: x[["lr_15", "Close"]].multiply(x["Weight"], axis="index").sum()
    )

mkt_lr_15.columns = ['Mkt_lrt_15','Crypto_Index']#single index timestamp 
firsts = train.index.get_level_values('timestamp')
train[['Mkt_lrt_15','Crypto_Index']] = mkt_lr_15.loc[firsts].values

lr_15 added

In [14]:
del mkt_lr_15
gc.collect()
print('Mkt_lrt_15,Crypto_Index added')

Mkt_lrt_15,Crypto_Index added

### Calculate missing Target (skip last 16 minutes)

In [15]:
##fill in missing Target
from script.data_target import *
train = make_target(train)

train['Target'].fillna(train.Target2,inplace=True)
print('filling missing Target')

filling missing Target

In [17]:
train.head(14)

                     Count          Open          High           Low  \
timestamp  Asset_ID
1514764860 0           5.0      8.530000      8.530000      8.530000
           13          8.0      0.036989      0.036989      0.036590
           3          16.0      0.260000      0.260990      0.260000
           4          10.0      0.002775      0.002775      0.002773
           1         229.0  13835.194000  14013.800000  13666.110000
           5          32.0      7.659600      7.659600      7.656700
           12          4.0      0.410000      0.410000      0.360000
           7           5.0     25.920000     25.920000     25.874000
           8          20.0      2.265200      2.265300      2.263000
           11          7.0    329.090000    329.880000    329.090000
           9         167.0    225.330000    227.780000    222.980000
           10          1.0   1182.000000   1182.000000   1182.000000
           6         173.0    738.302500    746.000000    732.510000
           2          40.0   2376.580000   2399.500000   2357.140000

                            Close         Volume          VWAP    Target  \
timestamp  Asset_ID
1514764860 0             8.530000      78.380000      8.530000 -0.014399
           13            0.036750   83459.107748      0.036604 -0.016212
           3             0.260000   32230.832200      0.260200 -0.004612
           4             0.002775  192109.000000      0.002775  0.006126
           1         13850.176000      31.550062  13827.062093 -0.014643
           5             7.657600    6626.713370      7.657713 -0.013922
           12            0.360000    3779.362927      0.405237  0.000000
           7            25.877000     121.087310     25.891363 -0.008264
           8             2.263000    1095.236100      2.263346  0.001105
           11          329.460000       6.635710    329.454118 -0.010527
           9           225.206667     411.896642    225.197944 -0.009791
           10         1182.000000       0.045492   1182.000000  0.000000
           6           738.507500     335.987856    738.839291 -0.004809
           2          2374.590000      19.233005   2373.116392 -0.004218

                       Weight  is_real  lr_15  Mkt_lrt_15  Crypto_Index  \
timestamp  Asset_ID
1514764860 0         0.105286        1    NaN         0.0   2603.351542
           13        0.043830        0    NaN         0.0   2603.351542
           3         0.107797        0    NaN         0.0   2603.351542
           4         0.086971        0    NaN         0.0   2603.351542
           1         0.165850        1    NaN         0.0   2603.351542
           5         0.033911        1    NaN         0.0   2603.351542
           12        0.050867        0    NaN         0.0   2603.351542
           7         0.050867        1    NaN         0.0   2603.351542
           8         0.026874        0    NaN         0.0   2603.351542
           11        0.039370        1    NaN         0.0   2603.351542
           9         0.058657        1    NaN         0.0   2603.351542
           10        0.026874        0    NaN         0.0   2603.351542
           6         0.144188        1    NaN         0.0   2603.351542
           2         0.058657        1    NaN         0.0   2603.351542

                         R_15   Mkt_lrt  beta   Target2
timestamp  Asset_ID
1514764860 0        -0.014504 -0.006806   0.0 -0.014504
           13        0.000000 -0.006806   0.0  0.000000
           3         0.000000 -0.006806   0.0  0.000000
           4         0.000000 -0.006806   0.0  0.000000
           1        -0.014751 -0.006806   0.0 -0.014751
           5        -0.014020 -0.006806   0.0 -0.014020
           12        0.000000 -0.006806   0.0  0.000000
           7        -0.008298 -0.006806   0.0 -0.008298
           8         0.000000 -0.006806   0.0  0.000000
           11       -0.010527 -0.006806   0.0 -0.010527
           9        -0.009840 -0.006806   0.0 -0.009840
           10        0.000000 -0.006806   0.0  0.000000
           6        -0.004820 -0.006806   0.0 -0.004820
           2        -0.004227 -0.006806   0.0 -0.004227

### Drop un-real fill-in

In [19]:
train = train[train.is_real == 1]
train.head(14)

                     Count          Open        High         Low  \
timestamp  Asset_ID
1514764860 0           5.0      8.530000      8.5300      8.5300
           1         229.0  13835.194000  14013.8000  13666.1100
           5          32.0      7.659600      7.6596      7.6567
           7           5.0     25.920000     25.9200     25.8740
           11          7.0    329.090000    329.8800    329.0900
           9         167.0    225.330000    227.7800    222.9800
           6         173.0    738.302500    746.0000    732.5100
           2          40.0   2376.580000   2399.5000   2357.1400
1514764920 5          10.0      7.656800      7.6569      7.6567
           1         235.0  13835.036000  14052.3000  13680.0000
           2          53.0   2374.553333   2400.9000   2354.2000
           6         192.0    738.507500    745.1400    732.4900
           7           1.0     25.897000     25.8970     25.8970
           9         212.0    225.133333    227.3800    222.4500

                            Close       Volume          VWAP    Target  \
timestamp  Asset_ID
1514764860 0             8.530000    78.380000      8.530000 -0.014399
           1         13850.176000    31.550062  13827.062093 -0.014643
           5             7.657600  6626.713370      7.657713 -0.013922
           7            25.877000   121.087310     25.891363 -0.008264
           11          329.460000     6.635710    329.454118 -0.010527
           9           225.206667   411.896642    225.197944 -0.009791
           6           738.507500   335.987856    738.839291 -0.004809
           2          2374.590000    19.233005   2373.116392 -0.004218
1514764920 5             7.656700  3277.475494      7.656749 -0.014534
           1         13828.102000    31.046432  13840.362591 -0.015037
           2          2372.286667    24.050259   2371.434498 -0.004079
           6           738.260000   232.793141    738.268967 -0.004441
           7            25.897000     1.468019     25.897000 -0.029902
           9           224.856667  3640.502706    224.446625 -0.012991

                       Weight  is_real  lr_15  Mkt_lrt_15  Crypto_Index  \
timestamp  Asset_ID
1514764860 0         0.105286        1    NaN         0.0   2603.351542
           1         0.165850        1    NaN         0.0   2603.351542
           5         0.033911        1    NaN         0.0   2603.351542
           7         0.050867        1    NaN         0.0   2603.351542
           11        0.039370        1    NaN         0.0   2603.351542
           9         0.058657        1    NaN         0.0   2603.351542
           6         0.144188        1    NaN         0.0   2603.351542
           2         0.058657        1    NaN         0.0   2603.351542
1514764920 5         0.033911        1    NaN         0.0   2599.498207
           1         0.165850        1    NaN         0.0   2599.498207
           2         0.058657        1    NaN         0.0   2599.498207
           6         0.144188        1    NaN         0.0   2599.498207
           7         0.050867        1    NaN         0.0   2599.498207
           9         0.058657        1    NaN         0.0   2599.498207

                         R_15   Mkt_lrt  beta   Target2
timestamp  Asset_ID
1514764860 0        -0.014504 -0.006806   0.0 -0.014504
           1        -0.014751 -0.006806   0.0 -0.014751
           5        -0.014020 -0.006806   0.0 -0.014020
           7        -0.008298 -0.006806   0.0 -0.008298
           11       -0.010527 -0.006806   0.0 -0.010527
           9        -0.009840 -0.006806   0.0 -0.009840
           6        -0.004820 -0.006806   0.0 -0.004820
           2        -0.004227 -0.006806   0.0 -0.004227
1514764920 5        -0.014640 -0.008270   0.0 -0.014640
           1        -0.015151 -0.008270   0.0 -0.015151
           2        -0.004088 -0.008270   0.0 -0.004088
           6        -0.004451 -0.008270   0.0 -0.004451
           7        -0.030359 -0.008270   0.0 -0.030359
           9        -0.013076 -0.008270   0.0 -0.013076

### Export into ftr file

In [20]:
train.reset_index().drop(['R_15','Mkt_lrt','beta','Target2','is_real'],axis=1).to_feather('./data/new_data4.ftr')

In [23]:
train.loc[train.Target.isin([np.nan, np.inf, -np.inf])].shape

(224, 17)